/* basic & functional */

ul.rockdown,
ul.rockdown * {
	cursor: default;
	margin: 0;
	padding: 0;
}

ul.rockdown li {
	list-style: none;
}

ul.rockdown ul {
	display: none;
}

ul.rockdown.open ul {
	display: block;
}

ul.rockdown button {
	background: transparent;
	border: 0;
}
.checked {
    background:#f09;
}