/* == BASIC BOXES */

ul.rockdown {
	font-size: 13px;
	width: 180px;
}

ul.rockdown ul.options {
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
	padding: 5px 0;
	width: 178px;
	background: rgba(255,255,255,0.97);
	border: 1px #ccc solid;
	overflow: auto;
	position: absolute;
	max-height: 250px;
}

ul.rockdown ul.options::-webkit-scrollbar {
    width: 5px;
    height: 13px;
}

ul.rockdown ul.options::-webkit-scrollbar-thumb {
	background: #777;
	-webkit-border-radius: 3px;
}

/* == BUTTONS */

ul.rockdown button {
	color: #333;
	font-size: inherit;
	font-family: inherit;
	padding: 5px 20px 5px 16px;
	text-align: left;
	width: 100%;
}

ul.rockdown button::-moz-focus-inner {
	border: 0;
}

ul.rockdown button.handle {
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
	background: #b22823 url(down.png) right center no-repeat;
	color: #fff;
	display: block;
	padding: 7px 32px 7px 11px;
}

ul.rockdown ul button:focus {
	background: #b22823;
	color: #fff;
	outline: none;
}

ul.rockdown ul button:active {
	background: #d24843;
}

ul.rockdown li.opt button {
	padding-left: 32px;
}

/* == OPTGROUP */

ul.rockdown li.opt {
	padding: 5px 0 2px;
}

ul.rockdown li.opt span {
	color: #ccc;
	font-style: italic;
	padding-left: 16px;
}