/* == BASIC BOXES */

ul.rockdown {
	font-size: 13px;
	width: 170px;
}

ul.rockdown ul.options {
	background: #c57875;
	padding: 5px 0;
	position: absolute;
	width: 170px;
}

/* == BUTTONS */

ul.rockdown button {
	color: #eeeed7;
	font-size: inherit;
	font-family: inherit;
	padding: 5px 20px 5px 16px;
	text-align: left;
	width: 100%;
}

ul.rockdown button.handle {
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
	background: #cb4843 url(down.png) right 14px no-repeat;
	display: block;
	padding: 8px 32px 8px 16px;
}

ul.rockdown ul button:hover,
ul.rockdown ul button:focus {
	background: #ddbcba;
	color: #7b675b;
	outline: none;
}

ul.rockdown li.opt button {
	padding-left: 32px;
}

/* == OPTGROUP */

ul.rockdown li.opt {
	padding: 5px 0 2px;
}

ul.rockdown li.opt span {
	color: #e4e4d9;
	font-style: italic;
	padding-left: 16px;
}